.header(style='background-image: url(\'landing/assets/img/design_code_bg.png\')')
  .container
    .row
      .col-md-12
        h2.landing__feedback-title Hey guys!
        p.landing__feedback-subhead We are glad to offer you the EasyDev customization from light modernization to a super-custom development according to your project. Please, contact us via <b>biz@aspirity.com</b> to discuss our work or just press the button below.
        div.landing__feedback-form
          a.btn.btn--feedback(href="https://www.aspirity.com/contact-us", rel="noopener noreferrer", target="_blank") Let's work!
        img.feedback-design-img(src="landing/assets/img/design_and_code.svg", alt="design and code")
        img.feedback-catalog-img(src="landing/assets/img/iMac.png", alt="macbook")
