.footer
  img.footer__bg(src='landing/assets/img/bottom_bg.png' alt='')
  .container
    .row
      .col-md-12
        .footer__wrap
          .footer__left
            p.footer__title EasyDev
            p.footer__caption Made with love and tons of coffee in
              a(href="https://themes.aspirity.com/")=" Aspirity Studio"
          .footer__right
            .footer__socials
            p.footer__caption Copyright © 2020. EasyDev. All rights reserved.
