include ../../../blocks/map

block extra-content
  .hire-us
    +btn()(
      data-toggle="popover",
      data-placement="left",
      data-html="true"
      data-content="We provide UX/UI and Node.js & React development services. <a href='https://aspirity.com/#uximprove' target=\"_blank\">Contact us</a> if you have custom development project.",
    )="Hire Us"
    +tooltip
