.menu
  .container
    .row
      .col-md-12
        .menu__wrap
          p.menu__logo
            img(src='landing/assets/img/logo.svg' alt='')
          nav.menu__nav
            a.menu__nav-item(href='#about') About EasyDev
            a.menu__nav-item(href='#features') Features
            a.menu__nav-item(href='#demo') Demos
            a.menu__nav-item(href='#feature_request') Feature request
            a.btn(href='https://clck.ru/RE6FZ' target="_blank") Buy now
