section.section
 .container
   .row
     .col-md-12
       h3.section__title Get the <b>EasyDEV HTML Bootstrap 4 Admin Template</b> and save your time and nerves
       div.center-btn
         a.btn.btn--gradient(target="_blank", rel="noopener noreferrer", href="https://clck.ru/RE6FZ")="Purchase now"
