a(id='about')
section.section.section--technologies
  .container
    .row
      .col-md-12
        h3.section__title.section__title--additional The EasyDev based on popular and powerful technological stack. That's why it allows you to create massive and serious projects easily.
    .row.justify-content-around
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/pug.png' alt='')
          p.technology__title Pug
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/html.png' alt='')
          p.technology__title HTML
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/bootstrap-stack.png' alt='')
          p.technology__title Bootstrap 4 framework
    .row.justify-content-around
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/gulp.png' alt='')
          p.technology__title Gulp
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/sass.png' alt='')
          p.technology__title SCSS Preprocessor
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='landing/assets/img/technologies/mat_ui.png' alt='')
          p.technology__title Material UI

