section.section
  .container
    .row
      .col-md-12
        h3.section__title Our customers say
    .row
      .col-md-12
        .testimonials
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava.png)')
                p.testimonials__slide-name Masha Rubick
                p.testimonials__slide-work Skilled designer and cat lover
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
              p.testimonials__slide-review This core philosophy stands at the center of everything we make. The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava2.png)')
                p.testimonials__slide-name Lora Mason
                p.testimonials__slide-work Cat lover
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.mdi.mdi-star
              p.testimonials__slide-review The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava3.png)')
                p.testimonials__slide-name Jenny Buttler
                p.testimonials__slide-work Singer
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
              p.testimonials__slide-review This core philosophy stands at the center of everything we make. The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava.png)')
                p.testimonials__slide-name Masha Rubick
                p.testimonials__slide-work Skilled designer and cat lover
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
              p.testimonials__slide-review This core philosophy stands at the center of everything we make. The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava2.png)')
                p.testimonials__slide-name Lora Mason
                p.testimonials__slide-work Cat lover
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.mdi.mdi-star
              p.testimonials__slide-review The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
          .testimonials__slide-wrap
            .testimonials__slide
              .testimonials__slide-info
                .testimonials__slide-img(style='background-image: url(assets/img/testimonials/ava3.png)')
                p.testimonials__slide-name Jenny Buttler
                p.testimonials__slide-work Singer
                .testimonials__slide-rate
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
                  span.testimonials__slide-star.testimonials__slide-star--active.mdi.mdi-star
              p.testimonials__slide-review This core philosophy stands at the center of everything we make. The brands we build and the experiences we create live at the intersection of clarity and surprise, and are positioned to matter in culture through shared values and ideals.
