extends ../../blocks/layout
block layout
  - var active_page = 'documentation_installation'

block content
  .container.documentation
    .row
      .col-md-12
        h3.page-title='Documentation / Installation'
    +documentation-installation
