extends ../../blocks/layout
block layout
  - var active_page = 'documentation_introduction'

block content
  .container.documentation
    .row
      .col-md-12
        h3.page-title='Documentation / Introduction'
    +documentation-introdaction