extends ../../blocks/layout
block layout
  - var active_page = 'documentation_navigation'

block style 
  link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css", rel="stylesheet")

block content
  .container.documentation
    .row
      .col-md-12
        h3.page-title='Documentation / Navigation'
    +documentation-navigation

block extra-content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-core.min.js") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/autoloader/prism-autoloader.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-pug.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-json.min.js")