mixin not-found()
  .not-found
    .not-found__content
      img.not-found__image(src='static/not-found/404.png', alt="404-error")
      h3.not-found__info='Ooops! The page you are looking for could not be found :('
      a.btn.btn-primary(href='dashboards/online_marketing_dashboard')='Back Home'
