$font-family-main: 'Poppins', sans-serif;

$pricing-accent: #72e2ba;

$color-accent: #2c86a2;
$landing-gradient: linear-gradient(228deg, rgba(127, 244, 222, 0.95), rgba(56, 199, 225, 1));
$landing-gradient-hover: linear-gradient(228deg, darken(rgba(127, 244, 222, 0.95), 5%), darken(rgba(56, 199, 225, 1), 5%));

$text-color-main: #244153;