extends ./layout/layout
block content
  include ./blocks/menu
  include ./blocks/header
  include ./blocks/hire-us
  include ./blocks/technologies
  include ./blocks/feedback
  include ./blocks/features
  include ./blocks/demo
  include ./blocks/applications
  include ./blocks/feature_request
  include ./blocks/pricing
  include ./blocks/footer
