.timepicker {
  width: 100%;
  .dropdown__menu{
    padding: 0;
  }
}

.rc-time-picker-input {
  border-radius: 0;
}

.rc-time-picker-panel {
  padding-top: 3px;
}

.rc-time-picker-panel-input-wrap {
  display: none;
}

.rc-time-picker-panel-inner {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0;
  margin-top: 32px;
}

.rc-time-picker-panel-select {
  overflow: hidden;
  border-right: 1px solid #eff1f5;
  ul {
    padding-right: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 86px;
    height: 144px;
  }

  li {
    padding: 0;
    text-align: center;
    transition: 0.3s;
    width: 56px;
  }
  .dropdown-item {
    &.active {
      color: white;
      background: #70bbfd!important;
    }
    &:hover{
      background: #70bbfd!important;
      color: white!important;
    }
  }
}

li.rc-time-picker-panel-select-option-selected {
  background: $color-blue;
  color: white;

  &:hover {
    background: $color-blue-hover;
  }
}

.rc-time-picker-panel-combobox{
  display: flex;
  .scrollbar-track{
    display: none!important;
  }
  div {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100px;
  }
}

.rc-time-picker-clear {
  position: absolute;
  right: 40px;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 30px;
  margin: 0;
}
.rc-time-picker-clear-icon:after {
  content: "x";
  font-size: 12px;
  font-style: normal;
  color: #aaa;
  display: inline-block;
  line-height: 1;
  height: 20px;
  width: 20px;
  transition: color 0.3s ease;
}
.rc-time-picker-clear-icon:hover:after {
  color: #666;
}
