mixin order()
  .card__title.order
    h5.bold-text='Orders list'
    p
      ='Show'
      select(data-placeholder="", class="basic-form-select chosen-select order_list-select", style="width: 100%;", name='select')
        option(value='10')='10'
        option(value='20')='20'
        option(value='30')='30'
      ='entries'
  +table-data(
    {wrap: 'table-responsive', table: 'table table-hover'}, {
    header: ['ID', 'Date', 'Customer Name', 'Price', 'Tax', 'Delivery', 'Quantity', 'Status'],
    items: (new Array(30).fill(0)).map(() => {
        const value = ['Enabled', 'Disabled'][Math.floor((Math.random() * 2))];
        return [
          Math.min(99999, Math.round((Math.random() * 99999) + 1000)).toString(),
          new Date(new Date(2017, 3, 1).getTime() + (Math.random() * (new Date(2018, 3, 1).getTime() - new Date(2017, 3, 1).getTime()))).toLocaleDateString(),
          ['Maria', 'Bobby  ', 'Alexander'][Math.floor((Math.random() * 3))],
          Math.min(1000, (Math.random() * 1000) + 20).toFixed(2).toString(),
          Math.min(10, Math.random() * 10).toFixed(2).toString(),
          Math.min(10, Math.random() * 10).toFixed(2).toString(),
          Math.min(5, Math.round((Math.random() * 5) + 1)).toString(),
          {badge: true, value, type: value === 'Enabled' ? 'success' : 'disabled'}
        ];
      }
    )
  }, false, false)
