extends ../../blocks/layout
block layout
  - var active_page = 'ecommerce_product_page'

block content
  .container.todo-app
    .row
      .col-md-12
        h3.page-title='Product List'
        h3.page-subhead.subhead='Use this elements, if you want to show some hints or additional information'
    .row
      .col-md-12.col-lg-12
        .card
          .card-body.product-list
            +product-list()
