script(src='assets/js/app.min.js')
		// JS Libraies
script(src='assets/bundles/cleave-js/dist/cleave.min.js')
script(src='assets/bundles/cleave-js/dist/addons/cleave-phone.us.js')
script(src='assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js')
script(src='assets/bundles/bootstrap-daterangepicker/daterangepicker.js')
script(src='assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
script(src='assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
script(src='assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
script(src='assets/bundles/select2/dist/js/select2.full.min.js')
script(src='assets/bundles/jquery-selectric/jquery.selectric.min.js')
		// Page Specific JS File
script(src='assets/js/page/forms-advanced-forms.js')
		// Template JS File
script(src='assets/js/scripts.js')
		// Custom JS File
script(src='assets/js/login.js')
		// forms-advanced-form.html  21 Nov 2019 03:55:08 GMT
script(src='assets/js/custom.js')
//CHARTS JS FILES 
script(src='assets/bundles/amcharts4/core.js')
script(src='assets/bundles/amcharts4/charts.js')
script(src='assets/bundles/amcharts4/animated.js')
script(src='assets/bundles/amcharts4/worldLow.js')
script(src='assets/bundles/amcharts4/maps.js')
    
script(src='assets/js/page/chart-amchart.js')

// LIGHTGALLERY FILES

script(src='assets/bundles/lightgallery/dist/js/lightgallery-all.js')    
script(src='assets/js/page/light-gallery.js')

//DATATABLES / PUMP OVERVIEW 

script(src='assets/bundles/datatables/datatables.min.js')
script(src='assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js')
script(src='assets/bundles/jquery-ui/jquery-ui.min.js')
script(src='assets/js/page/datatables.js')

script(src='assets/bundles/jquery-validation/dist/jquery.validate.min.js')
script(src='assets/bundles/jquery-steps/jquery.steps.min.js')
script(src='assets/js/page/form-wizard.js')