//- // JQUERY FILES

//- script(src='assets/bundles/jquery/jquery-3.4.1.js')
//- script(src='assets/bundles/jquery-ui/jquery-ui.min.js')

//- script(src='assets/bundles/jquery-validation/dist/jquery.validate.min.js')
//- script(src='assets/bundles/jquery-steps/jquery.steps.min.js')
//- script(src='assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js')
//- script(src='assets/bundles/jquery-selectric/jquery.selectric.min.js')



//- script(src='assets/bundles/datatables/datatables.min.js' defer='')
//- script(src='assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' )
//- script(src='assets/bundles/datatables/export-tables/dataTables.buttons.min.js' )
//- script(src='assets/bundles/datatables/export-tables/buttons.flash.min.js' )
//- script(src='assets/bundles/datatables/export-tables/jszip.min.js' )
//- script(src='assets/bundles/datatables/export-tables/pdfmake.min.js' )
//- script(src='assets/bundles/datatables/export-tables/vfs_fonts.js' )
//- script(src='assets/bundles/datatables/export-tables/buttons.print.min.js' )
//- script(src='assets/js/page/datatables.js' )







//- script(src='assets/js/app.min.js')
//- 	// JS Libraies
//- script(src='assets/bundles/cleave-js/dist/cleave.min.js')
//- script(src='assets/bundles/cleave-js/dist/addons/cleave-phone.us.js')
//- script(src='assets/bundles/bootstrap-daterangepicker/daterangepicker.js')
//- script(src='assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
//- script(src='assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
//- script(src='assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
//- script(src='assets/bundles/select2/dist/js/select2.full.min.js')
//- 	// Page Specific JS File
//- script(src='assets/js/page/forms-advanced-forms.js')
//- 	// Template JS File
//- script(src='assets/js/scripts.js')
//- 	// Custom JS File
//- script(src='assets/js/login.js')
//- 	// forms-advanced-form.html  21 Nov 2019 03:55:08 GMT
//- script(src='assets/js/custom.js')
//- //CHARTS JS FILES 
//- script(src='assets/bundles/amcharts4/core.js')
//- script(src='assets/bundles/amcharts4/charts.js')
//- script(src='assets/bundles/amcharts4/animated.js')
//- script(src='assets/bundles/amcharts4/worldLow.js')
//- script(src='assets/bundles/amcharts4/maps.js')

//- script(src='assets/js/page/chart-amchart.js')

//- // LIGHTGALLERY FILES

//- script(src='assets/bundles/lightgallery/dist/js/lightgallery-all.js')    
//- script(src='assets/js/page/light-gallery.js')

//- //DATATABLES / PUMP OVERVIEW 
//- script(src='assets/js/page/form-wizard.js')

script(src='/assets/js/app.min.js')
	// JS Libraies
script(src='/assets/bundles/cleave-js/dist/cleave.min.js')
script(src='/assets/bundles/cleave-js/dist/addons/cleave-phone.us.js')
script(src='/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js')
script(src='/assets/bundles/bootstrap-daterangepicker/daterangepicker.js')
script(src='/assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
script(src='/assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
script(src='/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
script(src='/assets/bundles/select2/dist/js/select2.full.min.js')
script(src='/assets/bundles/jquery-selectric/jquery.selectric.min.js')
script(src='/assets/bundles/dropzonejs/min/dropzone.min.js')
	// Page Specific JS File
script(src='/assets/js/page/multiple-upload.js')
	// Page Specific JS File
script(src='/assets/js/page/forms-advanced-forms.js')
	// Template JS File
script(src='assets/bundles/izitoast/js/iziToast.min.js')
	// Page Specific JS File
script(src='assets/js/page/toastr.js')
script(src='/assets/js/scripts.js')
	// Custom JS File
script(src='/assets/js/login.js')
	// forms-advanced-form.html  21 Nov 2019 03:55:08 GMT
script(src='/assets/js/custom.js')
//CHARTS JS FILES 
script(src='/assets/bundles/amcharts4/core.js')
script(src='/assets/bundles/amcharts4/charts.js')
script(src='/assets/bundles/amcharts4/animated.js')
script(src='/assets/bundles/amcharts4/worldLow.js')
script(src='/assets/bundles/amcharts4/maps.js')

script(type="module" src='/assets/js/page/chart-amchart.js')

// LIGHTGALLERY FILES
script(src='/assets/bundles/lightgallery/dist/js/lightgallery-all.js')    
script(src='/assets/js/page/light-gallery.js')

//DATATABLES / PUMP OVERVIEW 
script(src='/assets/bundles/jquery-ui/jquery-ui.min.js')

script(src='/assets/bundles/datatables/datatables.min.js')
script(src='/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js')
script(src='/assets/js/page/datatables.js')

script(src='/assets/bundles/jquery-validation/dist/jquery.validate.min.js')
script(src='/assets/bundles/jquery-steps/jquery.steps.min.js')
script(src='/assets/js/page/form-wizard.js')
script(src='/assets/bundles/prism/prism.js')
script(src='/assets/bundles/sweetalert/sweetalert.min.js')
	// Page Specific JS File
script(src='/assets/js/page/sweetalert.js')

script(src='/assets/bundles/editable-table/mindmup-editabletable.js')
	// Page Specific JS File
script(src='/assets/js/page/editable-table.js')




