head
		meta(charset='UTF-8')
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no' name='viewport')
		meta(http-equiv="Content-Security-Policy" content="default-src * 'unsafe-eval' 'unsafe-inline'; img-src 'self' data:")
		title Bosch - Invented for life 
		// General CSS Files
		link(rel='stylesheet' href='assets/css/app.min.css')
		link(rel='stylesheet' href='assets/bundles/bootstrap-daterangepicker/daterangepicker.css')
		link(rel='stylesheet' href='assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')
		link(rel='stylesheet' href='assets/bundles/select2/dist/css/select2.min.css')
		link(rel='stylesheet' href='assets/bundles/jquery-selectric/selectric.css')
		link(rel='stylesheet' href='assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
		link(rel='stylesheet' href='assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
		// Template CSS
		link(rel='stylesheet' href='assets/css/style.css')
		link(rel='stylesheet' href='assets/css/components.css')
		// Custom style CSS
		link(rel='stylesheet' href='assets/css/custom.css')
		link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')