extends base
block content                     

        // Main Content
        .main-content
          section.section
            .section-body
              .row.clearfix
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-6
                  .card
                    .card-header
                      h4 Complaints v/s Customer Chart
                    .card-body
                      .recent-report__chart
                        #barChart
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-6
                  .card
                    .card-header
                      h4 Faliure Rates v/s Pump Type Plot
                    .card-body
                      .recent-report__chart
                        #barImg
              .row.clearfix
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-6
                  .card
                    .card-header
                      h4 Number of Complaints all year round
                    .card-body
                      .recent-report__chart
                        #lineChart
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-6
                  .card
                    .card-header
                      h4 Countries v/s complaint Plot
                    .card-body
                      .recent-report__chart
                        #donutChart
              
                
          
