doctype html
html(lang='en')
  // auth-login.html  21 Nov 2019 03:49:32 GMT
  head
    meta(charset='UTF-8')
    meta(http-equiv="Content-Security-Policy" content="default-src * 'unsafe-eval' 'unsafe-inline'; img-src 'self' data:")
    title Otika - Admin Dashboard Template
    // General CSS Files
    link(rel='stylesheet' href='assets/css/app.min.css')
    link(rel='stylesheet' href='assets/bundles/bootstrap-social/bootstrap-social.css')
    // Template CSS
    link(rel='stylesheet' href='assets/css/style.css')
    link(rel='stylesheet' href='assets/css/components.css')
    // Custom style CSS
    link(rel='stylesheet' href='assets/css/custom.css')
    link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  body
    .loader
    #app
      section.section
        .container.mt-5
          .row
            .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
              .card.card-primary
                .card-header
                  h4 Login
                .card-body
                    .form-group
                      label(for='email') Employee Number
                      input#email.form-control(type='email' name='email' tabindex='1' required='' autofocus='')
                      .invalid-feedback
                        | Please fill in your email
                    .form-group
                      .d-block
                        label.control-label(for='password') Password
                        .float-right
                          a.text-small(href='auth-forgot-password.html')
                            | Forgot Password?
                      input#password.form-control(type='password' name='password' tabindex='2' required='')
                      .invalid-feedback
                        | please fill in your password
                    .form-group
                      .custom-control.custom-checkbox
                        input#remember-me.custom-control-input(type='checkbox' name='remember' tabindex='3')
                        label.custom-control-label(for='remember-me') Remember Me
                    .form-group.login-button
                      button.btn.btn-primary.btn-lg.btn-block.swal-8(tabindex='4'  )
                        | Login
                  
              .mt-5.text-muted.text-center
                | Don't have an account? 
                a(href='auth-register.html') Create One
    // General JS Scripts
    script(src='assets/js/app.min.js')
    // JS Libraies
    // Page Specific JS File
    // Template JS File
    script(src='assets/js/scripts.js')
    // Custom JS File
    script(src='assets/js/bundle.js')
    // Axios CDN link 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')

    // auth-login.html  21 Nov 2019 03:49:32 GMT