extends base
block content
  .main-content
    section.section
      .section-body
        .row
          .col-12.col-md-6.col-lg-6
            .card
              .card-header
                h4 Pump Information
              .card-body
                h5 Pump Type is : 
                h5 Customer : 
                h5 Failure Hours: 
               
             
          .col-12.col-md-6.col-lg-6

            .card
              .card-header
                h4
                  | Serial Number 
                   
              .card-body
                h5 Serial Number of pump --- is :-
                h5 OEM : 
                h5 Region 

               
        h2.section-title Dimensional Data
        p.section-lead
          | All the information about the dimensional factors
        .row
          .col-12.col-md-6.col-lg-3
            .card.card-primary
              .card-header
                h4 Complaint Description
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-secondary
              .card-header
                h4 Camplate - Cam Taper
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-danger
              .card-header
                h4 Camplate - Cam Profile
              .card-body
                p
                  | Card 
          .col-12.col-md-6.col-lg-3
            .card.card-warning
              .card-header
                h4 Camplate - TPI
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-info
              .card-header
                h4 Roller - Ballekit
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-success
              .card-header
                h4 Roller - Sphericity
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-light
              .card-header
                h4 Roller - Line Profile
              .card-body
                p
                  | Card 
                   
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Roller - Runout
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Cross Disc - Claw Width
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Cross Disc - Perpendicularity
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Vane Pump - Vane to Impeller Height
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Vane Pump - Impeller to EC ring Height
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Housing - Housing Bore Concentricity
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Housing - Feed Pump Bore Runout W.R.T Bush
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Roller Ring - Slot Height
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Roller Ring - Slot Width
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Roller Ring - Slot Height
              .card-body
                p
                  | Card 
                  code .card-dark
          .col-12.col-md-6.col-lg-3
            .card.card-dark
              .card-header
                h4 Roller Ring - Roller Height
              .card-body
                p
                  | Card 
                  code .card-dark
           
        h2.section-title Camplate Photos
        p.section-lead
          | All the Camplate photos can be viewed here
        .row
          .col-12.col-md-6.col-lg-6
            
            .card
              .card-header
                h4 My Picture
                .card-header-action
                  a.btn.btn-primary(href='#') View All
              .card-body
                .mb-2.text-muted Click the picture below to see the magic!
                .chocolat-parent
                  a.chocolat-image(href='assets/img/image-gallery/3.png' title='Just an example')
                    div(data-crop-image='285')
                      img.img-fluid(alt='image' src='assets/img/image-gallery/3.png')
          .col-12.col-sm-6.col-lg-6
             
        h2.section-title Sortable Card
        p.section-lead
          | Other cool cards, this one can be sorted.
        .row.sortable-card
          .col-12.col-md-6.col-lg-3
            .card.card-primary
              .card-header
                h4 Card Header
              .card-body
                p
                  | Card 
                  code .card-primary
          .col-12.col-md-6.col-lg-3
            .card.card-secondary
              .card-header
                h4 Card Header
              .card-body
                p
                  | Card 
                  code .card-secondary
          .col-12.col-md-6.col-lg-3
            .card.card-danger
              .card-header
                h4 Card Header
              .card-body
                p
                  | Card 
                  code .card-danger
          .col-12.col-md-6.col-lg-3
            .card.card-warning
              .card-header
                h4 Card Header
              .card-body
                p
                  | Card 
                  code .card-warning

