section {
  margin-bottom: 160px;
  position: relative;
}

.additional-title {
  max-width: 680px;
  text-align: center;
  color: $landing-accent-color;
  margin: 70px auto 50px auto;
  line-height: 32px;
}
