extends ../../blocks/layout
block layout
  - var active_page = 'maps_vector_map'

block content
  .container.todo-app
    .row
      .col-md-12
        h3.page-title='Vector map'
        h3.page-subhead.subhead='Use this elements, if you want to show some hints or additional information'
    .row
      .col-md-12.col-lg-12
        +card('Vector world map', [])
          +vector-map('1')
