mixin rc-notification(title)
  div
    .rc-notification.rc-left(style="top: 65px; left: 50%;")
      span
    .rc-notification.rc-right(style="top: 65px; left: 50%;")
      span
    .rc-notification.rc-full(style="top: 65px; left: 50%;")
      span
