mixin search
  form.topbar__search
    input.topbar__search-field
    button.topbar__btn.topbar__search-btn
      i.mdi.mdi-magnify

mixin search-mobile
  form.topbar__search.topbar__search__mobile
    input.topbar__search-field.topbar__search-field--open
